body { overflow-x: hidden; background-color: rgb(151, 151, 151);}


/* header */

.name-container { padding-top:15px; }

.site-name {
	color: #fd79a8;
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
}
.site-name:hover,
.site-name:focus {
	color: #e84393;
}
header {
	background: #2d3436;
	height: 60px;
	position: relative;
	z-index: 20;
}

.nav-bar {
	display: block;
	overflow: hidden;
}
.nav-bar li {
	list-style: none;
	float: left;
}
.nav-bar li a {
	color: #c0bcbc;
	display: block;
	padding: 20px;
	text-transform: uppercase;
	transition: all 0.3s ease;
}
.nav-bar li a.active{
	background: #fd79a8;
	color: #fff;
}
.nav-bar li a:focus,
.nav-bar li a:hover {
	background: #e84393;
	color: #fff;
}



/* footer */

.copyright-text {
	color: gainsboro;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
.copyright-text a {
	color: #fd79a8;
}

.copyright-text a:hover {
	color: white;
}
footer{
	  	  position: fixed;
		  left: 0;
		  bottom: 0;
		  width: 100%;
		  background:#262727;
}














.gray-bg { background-color: #E5E5E5; }
.black-bg { background-color: #000; }
.white-bg {	background-color: #fff;}
.second-color-text { color: #fd79a8; }